xml/sample1/book.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT bookList (book*)>
<!ELEMENT book (title, author+, publisher, price, description?)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ATTLIST price unit (원|달러|엔|유로) "원">

